azure-core==1.41.0
azure-storage-blob==12.30.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
et_xmlfile==2.0.0
Faker==40.28.1
idna==3.18
isodate==0.7.2
numpy==2.5.1
openpyxl==3.1.5
pandas==3.0.3
pycparser==3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
typing_extensions==4.16.0
tzdata==2026.2
urllib3==2.7.0
